<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
	<h1> Minecraft Server Database</h1>

	<div>
		<h4><a href='/search'>Item Search</a></h4>
		<h4><a href='/search_by_player'>Creature Search</a></h4>
		<h4><a href='/alter_terrain'>Modify Terrain Altitute</a></h4>
	</div>


	<form method="GET" action="/search_player">
	<div> Search player by name(Leave it blank to see all): <input type="text" name="player_name"> <input type="submit" value="search"></div>
			<div> with attribute
				<select name="attr">
					<option value="null">All</option> 
                    <option value="uid">User ID</option> 
					<option value="wid">World ID</option>
                    <option value="exp">Experience Point</option>
                    <option value="ability">Ability</option>
				</select>
			</div>
		</form>
	</div>

	
	<form method="GET" action="/add">
		<div> Add New Player (All fields must be filled): 
			<input type="text" placeholder="New Player's Name (text)" name="new_player_name"> 
			<input type="text" placeholder="New Player's UID (int)" name="new_uid">  
			<input type="text" placeholder="World ID (int between 1 - 10)" name="new_world_id"> 
			<input type="text" placeholder="Exp point (int)" name="new_exp">  
			<input type="text" placeholder="Ability (int)" name="new_ability">  
			<input type="submit" value="add">
		</div>
	</form>

	<form method="GET" action="/modify">
		<div> Modify Existing Player's EXP (All fields must be filled): 
			<input type="text" placeholder="Player's UID (int)" name="exist_uid">  
			<input type="text" placeholder="Exp point (int)" name="exist_exp">  
			<input type="submit" value="modify">
		</div>
	</form>
	
	<div>
    	{% for n in data %}
    	<p>{{n}}<p>
    	{% endfor %}
  	</div>
</body>


</html>
