<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
   <h1> Search Database</h1>

   <form method="GET" action="/search_item">
      <div> Query Tool by tool type (All fields must be filled):
      <div> Search Tool: <input type="text" name="tool_type"> <input type="submit" value="search"></div>
      </div>
   </form>

   <form method="GET" action="/search_creature">
      <div> Query creature by creature type:
      <div> Search creature by type: <input type="text" placeholder="creature type" name="type"> <input type="submit" value="search"></div>
         <div> Show all animals/monsters
            <select name="attr">
               <option value="null">All</option>
                    <option value="monster">Monster</option>
               <option value="animal">Animal</option>
            </select>
         </div>
      </div>
   </form>

   <form method="GET" action="/search_achievement">
      <div> Query Achievement by achievement title (All fields must be filled):
      <div> Search Achievement: <input type="text" name="achievement_title"> <input type="submit" value="search"></div>
      </div>
   </form>

   <form method="GET" action="/search_world">
      <div> Query World by world id (All fields must be filled):
      <div> Search World: <input type="text" name="world_id"> <input type="submit" value="search"></div>
      </div>
   </form>

   <form method="GET" action="/search_terrain">
      <div> Query Terrain by terrain id (All fields must be filled):
      <div> Search Terrain: <input type="text" name="terrain_id"> <input type="submit" value="search"></div>
      </div>
   </form>

   <div>
      {% for n in data %}
      <p>{{n}}<p>
      {% endfor %}
   </div>




</body>


</html>